@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: OpenSansRegular;
}

.wrapper {
    padding-top: 10px;
    height: 100vh;
    width: 100vw;
}


.main-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(60px, 7vw));
    grid-template-rows: repeat(6, minmax(65px, 10vh));
    grid-gap: .4vw;
    justify-content: center;
}

.status {
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 10vw;
    min-width: 100px;
    margin-bottom: 10px;
    font-family: OpenSansRegular, serif;
    font-size: 18px;
    background-color: greenyellow;
}

.description {
    font-family: OpenSansRegular, serif;
    font-size: 14px;
    margin: 0;
}

.game-field {
    background-color: orange;
}

td:nth-child(2n) {
    padding-left: 50px;
}

.target {
    background-color: green;
    color: white;
    padding-top: 5px;
    font-size: 24pt;
    text-align: center;
}

.target:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.miss {
    background-color: red;
}
